<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Quiz App</title>
</head>

<body>
  <div class="container">
    <div class="quiz-content">
      <h2>Quiz App</h2>
      <button type="button" class="btn btn-primary" id="start">
        Start Quiz
      </button>
    </div>

    <div class="card-container">
    </div>

    <div class="result-button">
      <button class="btn btn-info hide" id="submit">Show Result</button>
    </div>
    <div id="result">
    </div>

  </div>

</body>

</html>