@import "~bootstrap";
@import "./color.scss";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  .stop-click {
    pointer-events: none;
  }
  .hide {
    display: none;
  }
  .badge {
    padding: 5px;
    margin-bottom: 10px;
  }
  .quiz-content {
    display: flex;
    margin: 20px;
    h2 {
      flex: 1;
      color: $primary-color;
    }
    .btn {
      padding: 0 30px;
      border-radius: 8px;
    }
  }

  .card {
    margin: 50px 0;
    //
  }
}
